.sidedrawer {
  width: 75%;
  background: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidedrawer.show {
  transform: translateX(0);
}

.menu {
  position: relative;
  overflow: auto;
  height: 100%;
  font-family: "Cabin", sans-serif;
}

.nav-right {
  position: relative;
}

.menu__logo h1 {
  text-align: center;
  padding: 25px 0;
}

.menu__logo h1 a {
  color: #262626;
}

.menu__contact {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px 13px 30px;
  text-transform: uppercase;
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  color: #262626;
  font-size: 12px;
  font-weight: bold;
}

.menu ul li a {
  display: block;
  padding: 13px 20px 13px 30px;
  text-transform: uppercase;
  position: relative;
  border-bottom: 1.5px solid #f0f0f0;
  color: #262626;
  font-size: 12px;
  font-weight: bold;
}

.menu ul li ul {
  padding-left: 15px;
  margin-bottom: 40px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  position: relative;
}

form {
  position: relative;
  width: 100%;
}

input {
  width: 70%;
  padding: 10px;
  background-color: #f6f6f6;
  border: none;
  border-bottom: 1px solid #000;
  margin: 0px 15%;
}

.btn__arrow {
  position: absolute;
  top: 20%;
  left: 83.5%;
  border: none;
  background: transparent;
  font-size: 20px;
}

.right-img img {
  width: 100%;
  height: auto;
}
