.productscreen {
  /* max-width: 1300px; */
  margin: 1rem auto;
  margin-top: 80px;

  display: flex;
  justify-content: space-between;
  font-family: "Cabin", sans-serif;
  background-color: #f6f6f6;
}

.productscreen__left {
  max-width: 780px;
  width: 100%;
}

.left__image {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left__image img {
  max-width: 700px;
  width: 75.5%;
}

.productscreen__right {
  max-width: 440px;
  width: 100%;
  margin: 1rem;
  position: fixed;
  right: 5%;
  top: 10%;
  background-color: #f6f6f6;
}

.productscreen__right p {
  padding: 0.6rem;
}

.left__kind {
  font-size: 14px;
  text-transform: none;
  letter-spacing: 0;
  font-weight: bold;
  line-height: 10px;
}

.left__name {
  font-size: 42px;
  line-height: 38px;
}

.left__price {
  font-weight: bold;
}

.right__info p > button {
  grid-column: 1/-1;
  width: 100%;
  padding: 10px 16px;
  background: #171717;
  color: #f4f4f4;
  border: 1px solid #171717;
  cursor: pointer;
  border-radius: 5px;
}

.right__info p > button:hover {
  background-color: #d1d1d1;
}

.right__info select {
  padding: 10px 16px;
  border: none;
}

.size__css {
  position: relative;
  width: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.input__size {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.size__css .size label {
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(145, 145, 145);
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 0;
  margin-bottom: 15px;
}

.size__css .size label:hover {
  border: 2.3px solid rgb(0, 0, 0);
}

/* .input__size:focus + .label__size,
.input__size:invalid + .label__size {
  background-color: 000;
} */

input:focus + label {
  background-color: rgb(100, 100, 100);
  color: #fff;
}

.qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1055px) {
  .productscreen__left {
    max-width: 550px;
    width: 100%;
  }
  .left__image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 960px) {
  .productscreen {
    flex-direction: column;
  }

  .productscreen__left {
    flex-direction: column;
    flex: 1;
  }

  .left__image {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
  }

  .left__info {
    flex: 1;
  }

  .productscreen__right {
    /* flex: 1; */
    padding: 1rem;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right__info {
    width: 100%;
    margin: 0;
  }
}
