.searchdrawer {
    width: 25%;
    background: rgb(255, 255, 252);
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #f0f0f0;
  }
  
  .searchdrawer.show {
    transform: translateX(0);
  }

 .search__icon{
    text-align: right;
 }

 .search__icon a{
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    right: 5%;
    top: 15%;
    color: #000;
 }


 .search__text{
    position: absolute;
    top: 25%;
    width: 100%;
    right: 0;
 }

 input{
    width: 100%;
    height:auto;
    border: none;
    border-bottom: 2px solid #b0b0b0;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 18px;
    font-weight: 600;
    box-shadow: none;
 }

 .search__arrow{
    position: absolute;
    top: 25%;
    right: 0;
    font-size: 20px;
    border: none;
    background: transparent;
 }